body {
  margin: 0;
  background-color: #000008;
  color: white;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  list-style: none;
  color: white;
}

button {
  min-width: 50px;
  margin: 10px;
  font-size: 15px;
  border-radius: 50px;
  background-color: #020A17;
  color: white;
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  background-color: #156F6E;
  color: white;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.281);
}

.Navbar {
  background: #020A17;
  color: white;
  width: 100vw;
  margin-bottom: 15px;
  border-bottom: 0.5px solid #156F6E;
  margin-right: 0;
}

.Navbar h1 {
  padding-left: 20px;
  list-style: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 3px;
  margin-left: 10px;
  background: #0A3842;
  border-radius: 10px;
}

.cardNoHover {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 3px;
  margin-left: 10px;
  background: #0A3842;
  border-radius: 10px;
}

.projectFakeCard {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 3px;
  margin-left: 10px;
  background: #154c6fb6;
  border-radius: 3px;
}

.taskFakeCard {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 3px;
  background: #15486fb6;
  border-radius: 3px;
}

h3.taskFakeCard {
  padding-left: 20px;
}

.push {
  margin-left: auto;
}

.EditProjectPage form,
.AddTask form,
.AddProject form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #030f22;
  margin: 0 auto;
  margin-bottom: 3px;
  width: 100%;
  margin-left: 0px;
}

.TaskCard {
  background-color: #062230;
  border: 1px solid #156F6E;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 3px;
  border-radius: 10px;
  margin-left: 0;

}

.TaskCard h3 {
  padding-left: 10px;
}

.ImportantCard {
  background-color: #156F6E;
  height: 58.77px;
}


.ScheduledCard {
  background-color: #0D454F;
  height: 58.77px;
}

.DoneCard {
  background-color: #06223097;
  text-decoration: line-through;
  font-style: italic;
  opacity: 50%;
}

#flexcontainer {

  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 99.8vw;
}

#flexright {
  width: 72vw;
}

#flexleft {
  width: 28vw;
}


.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: rgb(123, 255, 226);
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav form {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.card:hover {
  border: white 2px solid;
}

.TaskCard:hover {
  border: white 1px solid;
}

.LoginPage,
.SignupPage {
  display: flex;
  flex-direction: column;
  padding-left: 30vw;
}

#edittasktransition {
  display: flex;
  justify-content: space-evenly;
  background-color: #030f22;
}

.space{
  /* margin-top: 20px;
  margin-left: 10px;
  padding-left: 20px; */
}

.icon{
  display: flex;
  flex-direction: row;
  gap: 10px;
}